.imagem {
    text-align: center;
}

body {
    background-color: white;
    color: black;
}
.texto1{
    font-size: 20px;
}
.tipos{
    font-size: 30px;
    color: black;
}
.tipos2{
    font-size: 30px;
    color: black;
}
.tipos3{
    font-size: 30px;    
    color: black;
}
.titulo{
    font-size: 35px;
    color: black;
}

